@charset "utf-8";

@import url("common.css");

/*#container {letter-spacing:-1px;}*/

.sub_tit_wrap.v2 h2 {padding:34px 0 25px; border-bottom:0; text-align:center; font-size:38px; font-weight:600; color:#222}
.sub_tit_wrap .bookmark{overflow:hidden;padding:35px 10px;}
.sub_tit_wrap .bookmark>li{position:relative;float:left;width:33.33%;font-size:14px;}
.sub_tit_wrap .bookmark>li>ul>li{margin-top:8px;}
.sub_tit_wrap .bookmark>li>ul>li a{position:relative;}
.sub_tit_wrap .bookmark>li>ul>li.active a{color:#444;}
.sub_tit_wrap .bookmark>li>ul>li.active a:after{position:absolute;bottom:-2px;left:0;content:'';width:100%;height:1px;background:#b1b1b1;}
.sub_tit_wrap .bookmark>li>ul>li:first-child{margin-top:0;}

.terms_content{padding:34px 0 62px 0;background:#f8f8f8;}
.terms_wrap{overflow-y:scroll;max-height:600px;}
.terms_wrap>div{padding:28px 20px;margin-right:5px;border:1px solid #e9e9e9;background:#fff;font-size:12px;}
.terms_wrap>div>dl>dt{margin-bottom:20px;font-size:16px;color:#222;}
.terms_wrap>div>dl>dd>dl{margin-bottom:36px;}
.terms_wrap>div>dl>dd>dl>dt{margin-bottom:20px;}
.terms_wrap>div>dl>dd>dl>dd>ol>li>p{padding-left:15px;}
.terms_wrap>div>dl>dd>dl>dd>ol>li>p>span{margin-left:-15px;}
.terms_wrap>div>dl>dd>dl>dd>ol>li>ol{margin-top:20px;margin-bottom:35px;}
.terms_wrap>div>dl>dd>dl>dd>ol>li>ol>li{margin-left:30px;list-style:decimal;}
.terms_wrap>div>dl>dd>dl>dd>ol>li>ol>li>ul>li{padding-left:10px;}
.terms_wrap>div>dl>dd>dl>dd>ol>li>ol>li>ul>li>span{margin-left:-8px}