/* common */
@charset "utf-8";
@import url("common.css");
.w_cont{position:relative;}

html, body {height:100%;}



.main_visual{position:relative;height:100%;overflow:hidden}


.parallax-mirror{visibility:visible;z-index:1;position:fixed;top:0;left:0;overflow:hidden;transform: translate3d(0px, 0px, 0px);height:100%;width:100%;}
.parallax-slider{transform:translate3d(0px, 0px, 0px);position:absolute;top:0;left:0;height:auto;width:100%;max-width:none;}

.main_visual .btn_slide{position:absolute;z-index:3;bottom:20px;}
.main_visual .btn_slide a{background:url(../img/btn/btn_slide02.png) -20px 0;}
.main_visual .btn_slide ul .active a{background-position:0 0}
.main_visual .btn_slide .btn_stop{background-position:-40px 0;}

.main_section {letter-spacing:-1px;padding-top:30px;}
.main_section .w_cont .news_area{position:relative;width:100%;height:488px;}
.main_section .w_cont .news_area li a{display:block;}
.main_section .w_cont .news_area li a{vertical-align:top}
.main_section .w_cont .news_area li a span{position:absolute;display:inline-block;width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:0 -200px}
.main_section .w_cont .news_area li a dl dt em{display:inline-block;width:50px;height:20px;margin-bottom:10px;text-align:center;line-height:20px;font-size:12px;color:#719444;border:1px solid #719444;}
.main_section .w_cont .news_area li a dl dt strong{display:block;font-size:18px;color:#222;height:48px;overflow:hidden;margin-bottom:3px;}
.main_section .w_cont .news_area li a dl dd{height:53px;overflow:hidden}

.main_section .w_cont .news_area li:first-child{position:absolute;left:0;top:150px;width:518px;height:488px;opacity:0;transition: all .4s 0s linear}
/*.main_section .w_cont .news_area li:first-child.active{top:0;opacity:1;transition: all .4s 0s ease-in-out;}*/



.main_section .w_cont .news_area li:first-child a>div{position:absolute;bottom:0;left:0;width:100%;height:124px;background:#000;opacity:0.5; filter:alpha(opacity=50);}
.main_section .w_cont .news_area li:first-child a dl{position:absolute;bottom:0;left:0;width:100%;height:124px;padding:15px 20px;}
.main_section .w_cont .news_area li:first-child a dl dt strong{color:#fff;height:25px;overflow:hidden}
.main_section .w_cont .news_area li:first-child a dl dd{color:#cfd0d2}
.main_section .w_cont .news_area li:first-child a dl dd {display:none;color:#cfd0d2;height:18px;overflow:hidden}
.main_section .w_cont .news_area li:first-child a:hover dl dd {display:block;}


/*2 */
.main_section .w_cont .news_area .news_02{position:absolute;top:200px;right:0;width:518px;height:207px;opacity:0;transition: all .4s 0s linear;}
.main_section .w_cont .news_area .news_02 a {overflow:hidden;}
.main_section .w_cont .news_area .news_02 a img{float:left;}
.main_section .w_cont .news_area .news_02 a dl{float:left;padding:33px 21px;width:264px;height:207px;background:#f7f7f7;}
.main_section .w_cont .news_area .news_02 a span{bottom:20px;left:275px;}
.main_section .w_cont .news_area .news_02 a dl dd {display:none;}
.main_section .w_cont .news_area .news_02 a:hover dl dd {display:block;}
.main_section .w_cont .news_area .news_02 a dl:after{position:absolute;content:'';top:73px;left:243px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 11px solid #f7f7f7;}


.main_section .w_cont .news_area .news_03{position:absolute;right:0;top:400px;bottom:0;width:518px;height:281px;opacity:0;transition: all .4s 0s linear;}
.main_section .w_cont .news_area .news_03 a{overflow:hidden}
.main_section .w_cont .news_area .news_03 a img{float:left;}
.main_section .w_cont .news_area .news_03 a span{bottom:20px;left:184px;}
.main_section .w_cont .news_area .news_03 a dl {float:left;width:254px;height:281px;background:#f7f7f7;padding:57px 20px 0 20px;text-align:right;}
.main_section .w_cont .news_area .news_03 dl:after{position:absolute;z-index:1;content:'';top:75px;left:254px;width:0;height:0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 11px solid #f7f7f7;}
.main_section .w_cont .news_area .news_03 a dl dd {display:none;}
.main_section .w_cont .news_area .news_03 a:hover dl dd {display:block;}
.main_section .w_cont .news_area .news_03 dl dd span a{bottom:20px;right:20px;}
.main_section .w_cont .news_area .news_03{width:518px;height:281px;}
.main_section .w_cont .news_area .news_03 img{position:absolute;top:0;right:0;}




.main_section .w_cont .ingredients_slide h3{margin-bottom:12px;}


.ingredients_slide {position:relative;top:200px;width:100%;padding-top:50px;text-align:center;opacity:0;transition: all .4s 0s linear;}
.ingredients_slide > dt{font-style:italic;font-size:16px;font-family: Georgia, Times, 'Times New Roman', serif;;letter-spacing:0;color:#858585;}
.ingredients_slide > dt strong{color:#333;}



.ingredients_slide > dd {overflow:hidden; position:relative; margin-top:10px; padding:0 43px 0}
.ingredients_slide > dd ul {overflow:hidden; width:10000px}
.ingredients_slide > dd ul li {float:left; width:190px !important; padding:0 19px}
.ingredients_slide > dd ul li:first-child {margin-left:0}
.ingredients_slide > dd ul li dl {padding-bottom:30px;}
.ingredients_slide > dd ul li dl dt {display:block;font-size:13px;font-family: Georgia, Times, 'Times New Roman', serif;font-style:italic;color:#858585;letter-spacing:0}
.ingredients_slide > dd ul li dl .sub_tit{display:block;color:#000;font-size:18px;font-weight:400;}
.ingredients_slide > dd ul li:hover dl .sub_tit{display:none;}
.ingredients_slide > dd ul li dl .desc{display:none;margin-top:5px;color:#000;font-size:14px;font-weight:600;}
.ingredients_slide > dd ul li:hover dl .desc{display:block;}
.ingredients_slide .direction-nav a {top:96px; width:20px; height:38px}
.ingredients_slide .direction-nav .prev {background-position:-348px -267px}
.ingredients_slide .direction-nav .next {background-position:-402px -267px}





.beauty_celeb {position:relative;padding:50px;width:100%;height:585px;background:#f1f3ee;letter-spacing:-1px;}
.beauty_celeb ul{overflow:hidden;}
.beauty_celeb ul .celeb01{position:absolute;top:200px;left:0;opacity:0;transition: all .4s 0s linear;}


.beauty_celeb ul li a{display:inline-block;vertical-align:top;}
.beauty_celeb ul li dl{display:inline-block;vertical-align:top}
.beauty_celeb ul li dl dt em{display:block}
.beauty_celeb ul li dl dd span>a{width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:-100px -200px}
.beauty_celeb ul li dl dt em{margin-top:-2px;margin-bottom:16px;font-size:18px;color:#222;text-transform:uppercase;font-weight:800;}
.beauty_celeb ul li dl dd a{display:block;font-size:36px;color:#222;font-weight:300;}
.beauty_celeb ul li dl dd a em{display:block;font-size:18px;color:#666;font-weight:300;}

.beauty_celeb ul .celeb01 dl{padding-top:10px;margin-left:20px;text-align:left;}
.beauty_celeb ul .celeb01 dl dd span a{display:block;margin-top:25px;}




.beauty_celeb ul .celeb02{position:absolute;top:410px;right:0;text-align:right;opacity:0;transition: all .4s 0s linear;}





.beauty_celeb ul .celeb02 dl{margin-right:20px;padding-top:100px;}
.beauty_celeb ul .celeb02 dl dd span a{display:inline-block;margin-top:25px;}


.insta_area{position:relative;top:200px;padding:50px 0 78px 0;opacity:0;transition: all .5s 0s linear;}
.insta_area ul{overflow:hidden;}
.insta_area ul li{position:relative;float:left;width:199px;margin-left:10px;height:199px;background:black}
.insta_area ul li div{opacity:0;filter:alpha(opacity=0);position:absolute;top:50%;left:50%;width:76px;height:62px;margin-top:-31px;margin-left:-38px;text-align:center;color:#fff;font-size:14px;font-style:italic;}
.insta_area ul li div span{display:block;margin:0 auto 10px auto;}
.insta_area ul li:first-child{margin-left:0;}
.insta_area ul li a{display:block;}
.insta_area ul li a img{vertical-align:top;opacity:1;filter:alpha(opacity=100);}
.insta_area ul li:hover a img{opacity:0.5;filter:alpha(opacity=50);}
.insta_area ul li:hover a div{opacity:1;filter:alpha(opacity=100);}