/* common */
@charset "utf-8";
@import url("common.css");
.w_cont{position:relative;}

html, body {height:100%;}
.main_visual{display:block;position:relative;height:100%;overflow:hidden;}
.main_visual .parallax-window1{height:100%}
.main_visual .txt li{position:absolute;z-index:0;top:50%;left:50%;width:320px;height:240px;margin-left:-160px;margin-top:-120px;background:url(../img/bg/slide_txt_box.png) repeat;text-align:center;letter-spacing:-1px}
.main_visual .txt li{opacity:0;filter:alpha(opacity=0);display:block;top:55%;transition: all .4s 0s linear;}
.main_visual .txt li.active{z-index:2;opacity:1;filter:alpha(opacity=100);top:50%;transition: all .4s 0s linear}
.main_visual .txt li dl{margin-top:30px;margin-bottom:20px;}
.main_visual .txt li dl dt{margin-bottom:15px;font-size:56px;color:#5f8034;font-family: 'Georgia', serif;font-style:italic;letter-spacing:17px}
.main_visual .txt li dl dd{font-size:20px;color:#5a7832;}
.main_visual .txt li dl dd em{display:block;font-weight:600;}

.main_visual .txt .slide_btn{display:inline-block;line-height:30px;width:130px;height:30px;border:1px solid #5f8034;color:#5f8034;font-size:14px;}

.main_visual .scrolling{position:absolute;display:block;z-index:1;left:0;bottom:0;width:100%;height:50px;background:url(../img/bg/bg_scrolling.png) repeat;text-align:center;line-height:50px;color:#fff;font-size:12px;}
.main_visual .btn_slide{position:absolute;z-index:3;bottom:70px;}
.main_visual .btn_slide a{background:url(../img/btn/btn_slide02.png) -20px 0;}
.main_visual .btn_slide ul .active a{background-position:0 0}
.main_visual .btn_slide .btn_play{background-position:-40px 0;}
.main_visual .btn_slide .btn_stop{display:inline-block;width:11px;height:11px;margin-left:10px;background:#95bf5f;vertical-align:top;}

/* slide_02 */
.main_visual2{display:none;position:relative;height:100%;overflow:hidden;}
.main_visual2 .parallax-window2{height:100%}
.main_visual2 .txt .slide_btn{display:inline-block;line-height:30px;width:130px;height:30px;border:1px solid #5f8034;color:#5f8034;font-size:14px;}
.main_visual2 .scrolling{position:absolute;display:block;z-index:1;left:0;bottom:0;width:100%;height:50px;background:url(../img/bg/bg_scrolling.png) repeat;text-align:center;line-height:50px;color:#fff;font-size:12px;}
.main_visual2 .btn_slide{position:absolute;z-index:3;bottom:70px;}
.main_visual2 .btn_slide a{background:url(../img/btn/btn_slide02.png) -20px 0;}
.main_visual2 .btn_slide ul .active a{background-position:0 0}
.main_visual2 .btn_slide .btn_play{background-position:-40px 0;}
.main_visual2 .btn_slide .btn_stop{display:inline-block;width:11px;height:11px;margin-left:10px;background:#95bf5f;vertical-align:top;}
/*.parallax-mirror{opacity:1;transition: all .4s 0s linear}*/





/* news{s} */
.main_section {letter-spacing:-1px;padding-top:30px;}
.main_section .w_cont .news_area{/*overflow:hidden;*/height:488px;margin-bottom:50px;}
.main_section .w_cont .news_area li{float:left;width:50%;}
.main_section .w_cont .news_area li a{display:block;vertical-align:top}
.main_section .w_cont .news_area li a span{position:absolute;display:inline-block;width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:0 -200px}
.main_section .w_cont .news_area li a dl dt em{display:inline-block;width:50px;height:20px;margin-bottom:10px;text-align:center;line-height:18px;font-size:12px;color:#719444;border:1px solid #719444;}
.main_section .w_cont .news_area li a dl dt strong{display:block;font-size:18px;color:#222;height:48px;overflow:hidden;margin-bottom:3px;}
.main_section .w_cont .news_area li a dl dd{height:35px;overflow:hidden}

/* 1 */
.main_section .w_cont .news_area li:first-child{position:relative;opacity:0;filter:alpha(opacity=0);transform:translateY(140px);}
.main_section .w_cont .news_area li:first-child.active{opacity:1;filter:alpha(opacity=100);}
.main_section .w_cont .news_area li:first-child>a>img{width:518px;height:488px;overflow:hidden;opacity:1;filter:alpha(opacity=100);vertical-align:top}
.main_section .w_cont .news_area li:first-child>a>div{position:absolute;bottom:0;leftl:0;width:100%;height:124px;background:#000;opacity:0.5; filter:alpha(opacity=50);}
.main_section .w_cont .news_area li:first-child>a>dl{position:absolute;bottom:0;left:0;width:100%;height:124px;padding:15px 20px;}
.main_section .w_cont .news_area li:first-child>a>dl>dt>strong{display:block;color:#fff;height:25px;overflow:hidden;font-size:18px;}
.main_section .w_cont .news_area li:first-child>a>dl>dd{display:none;color:#cfd0d2;color:#cfd0d2;}
.main_section .w_cont .news_area li:first-child a:hover dl dd {display:block;}

/* 2 */
.main_section .w_cont .news_area .news_02{position:relative;width:518px;height:207px;transform:translateY(200px);transition: all .4s 0s linear;opacity:0;filter:alpha(opacity=0);}
.main_section .w_cont .news_area .news_02.active{opacity:1;filter:alpha(opacity=100);}
.main_section .w_cont .news_area .news_02 a img{width:254px;height:207px;overflow:hidden;float:left}
.main_section .w_cont .news_area .news_02 a dl{float:right;padding:33px 21px;width:264px;height:207px;background:#f7f7f7;}
.main_section .w_cont .news_area .news_02 a span{bottom:20px;left:275px}
.main_section .w_cont .news_area .news_02 a dl dd {display:none;}
.main_section .w_cont .news_area .news_02 a:hover dl dd {display:block;}
.main_section .w_cont .news_area .news_02 a dl:after{position:absolute;content:'';top:73px;left:243px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 11px solid #f7f7f7;}

/* 3 */
.main_section .w_cont .news_area .news_03{position:relative;width:518px;height:281px;transform:translateY(200px);transition: all .4s 0s linear;opacity:0;filter:alpha(opacity=0);}
.main_section .w_cont .news_area .news_03{opacity:1;filter:alpha(opacity=100);}
.main_section .w_cont .news_area .news_03 a img{width:264px;height:281px;overflow:hidden;float:right}
.main_section .w_cont .news_area .news_03 a span{bottom:20px;left:184px;}
.main_section .w_cont .news_area .news_03 a dl {position: relative;float:left;width:254px;height:281px;background:#f7f7f7;padding:57px 20px 0 20px;text-align:right;}
.main_section .w_cont .news_area .news_03 a dl dd {display:none;}
.main_section .w_cont .news_area .news_03 a:hover dl dd {display:block;}
.main_section .w_cont .news_area .news_03 dl:after{position:absolute;z-index:1;content:'';top:75px;left:254px;width:0;height:0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 11px solid #f7f7f7;}
/* news{e} */

/* ingredients_slide{s} */
.ingredients_slide{position:relative;text-align:center;margin-bottom:30px;opacity:0;filter:alpha(opacity=0);transform:translateY(100px);transition: all .4s 0s linear;}
.ingredients_slide.active{opacity:1;filter:alpha(opacity=100);}
/*.ingredients_slide .viewport{width:1036px;}*/
.ingredients_slide h3{margin-bottom:12px;}
.ingredients_slide > dt{font-style:italic;font-size:16px;font-family: 'Georgia', serif;letter-spacing:0;color:#858585;}
.ingredients_slide > dt strong{color:#333;}
.ingredients_slide > dd {overflow:hidden;height:250px;position:relative; margin-top:10px; padding:0 43px 0}
.ingredients_slide > dd .slides {overflow:hidden;padding-top:20px;height:250px;}
.ingredients_slide > dd .slides li {position:relative;float:left; width:190px !important;padding:0 19px;transition: all .4s 0s linear;}
.ingredients_slide > dd .slides li a{display:block}
.ingredients_slide > dd .slides li a .img_box{width:100%;height:100%;overflow:hidden;}
.ingredients_slide > dd .slides li.down{transform:translateY(30px);transition: all  .5s 0s linear;}
.ingredients_slide > dd .slides li.up{transform:translateY(-30px);transition: all  .5s 0s linear;}
.ingredients_slide > dd .slides li:first-child {margin-left:0}
.ingredients_slide > dd .slides li dl {padding-bottom:30px;}
.ingredients_slide > dd .slides li dl dt {display:block;font-size:13px;font-family: Georgia, Times, 'Times New Roman', serif;font-style:italic;color:#858585;letter-spacing:0}
.ingredients_slide > dd .slides li dl .sub_tit{display:block;color:#000;font-size:18px;font-weight:400;}
.ingredients_slide > dd .slides li:hover dl .sub_tit{display:none;}
.ingredients_slide > dd .slides li dl .desc{display:none;margin-top:5px;color:#000;font-size:14px;font-weight:600;}
.ingredients_slide > dd .slides li:hover dl .desc{display:block;}
.ingredients_slide .direction-nav a {top:96px; width:20px; height:38px}
.ingredients_slide .direction-nav .prev {background-position:-348px -267px}
.ingredients_slide .direction-nav .next {background-position:-402px -267px}
/* ingredients_slide{e} */

/* beauty_celeb{s} */
.beauty_celeb{position:relative;padding:50px;width:100%;height:585px;background:#f1f3ee;letter-spacing:-1px;}
.beauty_celeb ul{/*overflow:hidden;*/height:491px;}
.beauty_celeb ul li a{display:inline-block;vertical-align:top;}
.beauty_celeb ul li dl{display:inline-block;vertical-align:top}
.beauty_celeb ul li dl dt em{display:block;margin-top:-2px;margin-bottom:16px;font-size:18px;color:#222;text-transform:uppercase;font-weight:800;}
.beauty_celeb ul li dl dd span>a{width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:-100px -200px}
.beauty_celeb ul li dl dt em{margin-top:-2px;margin-bottom:16px;font-size:18px;color:#222;text-transform:uppercase;font-weight:800;}
.beauty_celeb ul li dl dd a{display:block;font-size:36px;color:#222;font-weight:300;}
.beauty_celeb ul li dl dd a em{display:block;font-size:18px;color:#666;font-weight:300;}

/* celeb01 */
.beauty_celeb ul .celeb01{float:left;opacity:0;filter:alpha(opacity=0);transform:translateY(80px);transition: all .4s 0s linear;}
.beauty_celeb ul .celeb01 a{width:442px;height:285px;overflow:hidden;}
.beauty_celeb ul .celeb01 a img{width:100%;height:100%;}
.beauty_celeb ul .celeb01 dl{padding-top:10px;margin-left:20px;text-align:left;}
.beauty_celeb ul .celeb01 dl dt{opacity:0;filter:alpha(opacity=0);transform:translateY(50px);transition: all .4s 0s linear;}
.beauty_celeb ul .celeb01 dl dd{opacity:0;filter:alpha(opacity=0);transform:translateY(100px);transition: all .4s 0s linear;}
.beauty_celeb ul .celeb01 dl dd span a{display:block;margin-top:25px;}
/* //celeb01 */

/* celeb02 */
.beauty_celeb ul .celeb02{position:relative;float:right;margin-top:-75px;text-align: right;transform:translateY(100px);transition: all .4s 0s linear;opacity:0;filter:alpha(opacity=0)}
.beauty_celeb ul .celeb02 a img{width:442px;height:275px;overflow:hidden}
.beauty_celeb ul .celeb02 dl{margin-right:20px;padding-top:100px;}
.beauty_celeb ul .celeb02 dl dt{opacity:0;filter:alpha(opacity=0);transform:translateY(50px);transition: all .4s 0s linear;}
.beauty_celeb ul .celeb02 dl dd{opacity:0;filter:alpha(opacity=0);transform:translateY(100px);transition: all .4s 0s linear;}
.beauty_celeb ul .celeb02 dl dd span a{display:inline-block;margin-top:25px;}
/* //celeb02 */

/* beauty_celeb{e} */


/* insta_area{s} */
.insta_area{padding:50px 0 78px 0;transition: all .4s 0s linear;opacity:0;filter:alpha(opacity=0)}
.insta_area ul{height:199px;}
.insta_area ul li{position:relative;overflow:hidden;float:left;width:199px;margin-left:10px;height:199px;background:black}
.insta_area ul li a img{width:100%;height:100%;}
.insta_area ul li div{opacity:0;filter:alpha(opacity=0);position:absolute;top:50%;left:50%;width:76px;height:62px;margin-top:-31px;margin-left:-38px;text-align:center;color:#fff;font-size:14px;font-style:italic;}
.insta_area ul li div span{display:block;margin:0 auto 10px auto;}
.insta_area ul .insta_box01{margin-left:0;transform:translateY(50px);transition: all .4s 0s linear;}
.insta_area ul .insta_box02{transform:translateY(-50px);transition: all .5s 0s linear;}
.insta_area ul .insta_box03{transform:translateY(50px);transition: all .5s 0s linear;}
.insta_area ul .insta_box04{transform:translateY(-50px);transition: all .5s 0s linear;}
.insta_area ul .insta_box05{transform:translateY(50px);transition: all .5s 0s linear;}

.insta_area ul .insta_box01.active, .insta_area ul .insta_box02.active, .insta_area ul .insta_box03.active, .insta_area ul .insta_box04.active, .insta_area ul .insta_box05.active{transform:translateY(0);}

.insta_area ul li a{display:block;}
.insta_area ul li a img{vertical-align:top;opacity:1;filter:alpha(opacity=100);}
.insta_area ul li:hover a img{opacity:0.5;filter:alpha(opacity=50);}
.insta_area ul li:hover a div{opacity:1;filter:alpha(opacity=100);}
/* insta_area{e} */

.br_sky > ul {display:none}