@charset "utf-8";

@import url("./common.css");


/* main{s} */
img{vertical-align:top}

/* main_slide{s} */
#wrap .slide_wrap{overflow:hidden;position:relative;width:100%;min-height:100%;background:#ffe000;}
#wrap .slide_box{overflow:hidden;position:relative;z-index:0;margin:0 auto;max-width:100%;height:995px;padding:0;background:#ffe000;text-align:center;}
#wrap .main_visual{overflow:hidden;z-index:0;position:absolute;left:0;top:0;background:#000;height:995px;display:block;opacity:1;transform:scale(1,1);}
#wrap .main_visual ul{position:relative;display:block;width:1903px;height:995px;text-align:center;}
#wrap .main_visual ul li{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/tmp/main_img_visual01.jpg) no-repeat;background-size:cover;}

/* main_slide{e} */




/* main_news{s} */
.main_news_area{width:1036px;margin:0 auto;letter-spacing:-1px}
.main_news_area ul{overflow:hidden;padding-top:50px;}
.main_news_area ul li{float:left;}
.main_news_area ul li a{display:block;}
.main_news_area ul li:first-child{position:relative;width:518px;height:488px;}
.main_news_area ul li:first-child a>div{position:absolute;bottom:0;left:0;width:100%;height:124px;background:#000;opacity:0.5; filter:alpha(opacity=50);}
.main_news_area ul li:first-child dl{position:absolute;bottom:0;left:0;width:100%;height:124px;padding:15px 20px;}


.main_news_area ul li a{position:relative;}
.main_news_area ul li a dl dt em{display:inline-block;width:50px;height:20px;margin-bottom:10px;text-align:center;line-height:20px;font-size:12px;color:#719444;border:1px solid #719444;}
.main_news_area ul li a span{position:absolute;display:inline-block;width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:0 -200px}


.main_news_area ul li a dl dt strong{display:block;margin-bottom:5px;margin-top:-3px;}
.main_news_area ul li a dl dt{font-size:18px;line-height:24px;color:#222;font-weight:600;}


.main_news_area ul li:first-child a dl dt strong{color:#fff;}
.main_news_area ul li:first-child a dl dd {display:none;color:#cfd0d2;}
.main_news_area ul li:first-child a:hover dl dd {display:block;}


.main_news_area ul .news_02 a {overflow:hidden;}
.main_news_area ul .news_02 a img{float:left;}
.main_news_area ul .news_02 a dl{float:left;padding:33px 21px;width:264px;height:207px;background:#f7f7f7;}
.main_news_area ul .news_02 a span{bottom:20px;left:275px;}

.main_news_area ul .news_02 a dl dd {display:none;}
.main_news_area ul .news_02 a:hover dl dd {display:block;}


.main_news_area ul .news_03 a{overflow:hidden}
.main_news_area ul .news_03 a dl {float:left;width:254px;height:281px;background:#f7f7f7;
	padding:57px 20px 0 20px;text-align:right;}
.main_news_area ul .news_02 a dl:after{position:absolute;content:'';top:73px;left:-11px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 11px solid #f7f7f7;}
.main_news_area ul .news_03 a img{float:left;}
.main_news_area ul .news_03 a span{bottom:20px;left:184px;}


.main_news_area ul .news_03 a dl dd {display:none;}
.main_news_area ul .news_03 a:hover dl dd {display:block;}


.main_news_area ul .news_03 dl dd span a{bottom:20px;right:20px;}
.main_news_area ul .news_03{width:518px;height:281px;}
.main_news_area ul .news_03 dl:after{position:absolute;content:'';top:75px;right:-11px;width:0;height:0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 11px solid #f7f7f7;}
.main_news_area ul .news_03 img{position:absolute;top:0;right:0;}
/* main_news{e} */

/* ingredients_area{s} */
.ingredients_area{position:relative;width:1036px;margin:0 auto;letter-spacing:-1px;text-align:center;}
.ingredients_area h3{margin-top:50px;margin-bottom:8px;}
.ingredients_area .nav li a{display:block;width:24px;height:49px;text-indent:-9999px;}
.ingredients_area .nav .prev a{position:absolute;top:120px;left:0;background:url(../img/btn/spr_btns.png) no-repeat;background-position:0 -250px;}
.ingredients_area .nav .next a{position:absolute;top:120px;right:0;background:url(../img/btn/spr_btns.png) no-repeat;background-position:-100px -250px;}
.ingredients_area .ingredients_slide{width:100%;height:235px;overflow:hidden;}
.ingredients_area .ingredients_slide ul{width:10000px;overflow:hidden;}
.ingredients_area .ingredients_slide ul li{float:left;width:207px;}
.ingredients_area .ingredients_slide ul li a{display:block;}
.ingredients_area .ingredients_slide ul li a dl dt{font-size:18px;}
.ingredients_area .ingredients_slide ul li a dl dt span{display:block;width:152px;height:152px;margin:0 auto;background:url(../img/ingredients_img.png) no-repeat;}
.ingredients_area .ingredients_slide ul li:first-child dt span{background-position: 0 0;}
.ingredients_area .ingredients_slide ul .argan dt span{background-position: -200px 0;}
.ingredients_area .ingredients_slide ul .hibiscus dt span{background-position: -400px 0;}
.ingredients_area .ingredients_slide ul .greentea dt span{background-position: -600px 0;}
.ingredients_area .ingredients_slide ul .sheabutter dt span{background-position: -800px 0;}
.ingredients_area .ingredients_slide ul li dl dt em{display:block;}
.ingredients_area .ingredients_slide ul li dl dd{margin-bottom:35px;}
/* ingredients_area{e} */

/* beauty_celeb_area{s} */
.beauty_celeb_area{background-color:#f1f3ee}
.beauty_celeb_area .beauty_celeb_wrap{width:1036px;margin:0 auto;padding:50px 0;letter-spacing:-1px;}
.beauty_celeb_area .beauty_celeb_wrap ul{overflow:hidden;}
.beauty_celeb_area .beauty_celeb_wrap ul li{width:100%;}
.beauty_celeb_area .beauty_celeb_wrap ul li a{display:inline-block;}
.beauty_celeb_area .beauty_celeb_wrap ul li img{display:inline-block;}
.beauty_celeb_area .beauty_celeb_wrap ul li dl{display:inline-block;position:relative;vertical-align:top;padding:10px 20px 0 20px;}
.beauty_celeb_area .beauty_celeb_wrap ul li dl dt em{display:block;margin-top:-3px;font-size:18px;font-weight:800;text-transform:uppercase;color:#222;}
.beauty_celeb_area .beauty_celeb_wrap ul li dl dt img{}
.beauty_celeb_area .beauty_celeb_wrap ul li dl dd>a{margin-top:18px;font-size:36px;font-weight:200;color:#222;}
.beauty_celeb_area .beauty_celeb_wrap ul li dl dd a em{display:block;font-size:18px;color:#666;font-weight:200;}
.beauty_celeb_area .beauty_celeb_wrap ul li dl dd span>a{position:absolute;display:block;width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:-100px -200px}
.beauty_celeb_area .beauty_celeb_wrap ul li:first-child dl{height:285px;}
.beauty_celeb_area .beauty_celeb_wrap ul .celeb02{margin-top:-75px;}
.beauty_celeb_area .beauty_celeb_wrap ul .celeb02 dl{position:relative;width:592px;height:275px;}
.beauty_celeb_area .beauty_celeb_wrap ul .celeb02 dl{text-align:right;padding-top:100px;}
.beauty_celeb_area .beauty_celeb_wrap ul li:first-child dl dd span>a{bottom:110px;}
.beauty_celeb_area .beauty_celeb_wrap ul .celeb02 dl dd span>a{bottom:10px;right:20px;}
/* beauty_celeb_area{e} */

/* beauty_celeb_area{s} */
.insta_area{width:1036px;margin:0 auto;padding:50px 0 78px 0;}
.insta_area ul{overflow:hidden;}
.insta_area ul li{position:relative;float:left;width:199px;margin-left:10px;height:199px;background:black}
.insta_area ul li div{opacity:0;filter:alpha(opacity=0);position:absolute;top:50%;left:50%;width:76px;height:62px;margin-top:-31px;margin-left:-38px;text-align:center;color:#fff;font-size:14px;font-style:italic;}
.insta_area ul li div span{display:block;margin:0 auto 10px auto;}
.insta_area ul li:first-child{margin-left:0;}
.insta_area ul li a{display:block;}
.insta_area ul li a img{vertical-align:top;opacity:1;filter:alpha(opacity=100);}
.insta_area ul li:hover a img{opacity:0.5;filter:alpha(opacity=50);}
.insta_area ul li:hover a div{opacity:1;filter:alpha(opacity=100);}
/* beauty_celeb_area{e} */


/* main{e} */


