/* common */
@charset "utf-8";
@import url("common.css");
.w_cont{position:relative;}

html, body {height:100%;}
.main_visual{display:block;position:relative;min-width:1036px;height:100%;overflow:hidden;}
.main_visual .hidden{display:none}
.main_visual .parallax-window{height:100%}
.main_visual .txt{position:absolute;top:0;left:0;width:100%;height:100%;}
.main_visual .txt.story_content{display:none;z-index:1;}
.main_visual .txt.promo_content{display:block;z-index:1;}
.main_visual .txt.story_content.active{display:block;z-index:2;}
.main_visual .txt.promo_content.active{display:block;z-index:2;}
.main_visual .txt.story_content li{position:absolute;width:100%;height:100%;}
.main_visual .txt.story_content li dl{position:absolute;z-index:0;top:55%;left:50%;width:420px;height:260px;margin-left:-210px;margin-top:-130px;padding-top:40px;background:url(../img/bg/slide_txt_box.png) repeat;text-align:center;letter-spacing:-1px;transition: all .4s 0s linear;opacity:0;filter:alpha(opacity=0);}
.main_visual .txt.story_content li.v2 dl{width:440px;height:310px;margin-top:-155px;margin-left:-220px;}
.main_visual .txt.story_content li.active dl{top:50%;transition: all .4s 0s linear;opacity:1;filter:alpha(opacity=100);}
.main_visual .txt.promo_content li{position:absolute;z-index:1;width:100%;height:100%;top:0;left:0;margin:0;text-align:left;}

.main_visual .txt.promo_content li .promo_title{position:absolute;width:100%;text-align:center;top:10%;color:#fff;letter-spacing:-1px}
.main_visual .txt.promo_content li .promo_title p{font-size:20px;}
.main_visual .txt.promo_content li .promo_title em{display:block;margin-bottom:15px;font-size:40px;font-weight:400;}
.main_visual .txt.promo_content li .promo_title em strong{font-weight:600;}
.main_visual .txt.promo_content li .promo_title .more_btn{display:inline-block;width:130px;height:30px;line-height:30px;font-size:14px;text-align:center;color:#fff;border:1px solid #fff;}


.main_visual .txt.promo_content li .promo_wrapper{position:absolute;width:1036px;left:50%;margin-left:-518px;top:40%;transition: all .4s 0s linear}
.main_visual .txt.promo_content li.active .promo_wrapper{top:35%;transition: all .4s 0s linear}
.main_visual .txt.promo_content li .vd_player{display:none}
.main_visual .txt.promo_content .video #video_img{width:100%;height:100%;}
.main_visual .txt.promo_content li .vd_player.v2{position:relative;top:55%;left:50%;margin-left:-413px;margin-top:-233px;width:826px; height:465px;transition: all .4s 0s linear}
.main_visual .txt.promo_content li.active .vd_player.v2{top:50%;transition: all .4s 0s linear;}
.main_visual .txt.promo_content li .nav_brand{position:absolute;bottom:138px;left:50%;margin-left:-33px;display:block;width:66px;height:84px;background:url(../img/btn/btn_view_mtr.png);font-size:0;}
.main_visual .txt li .promo_desc {text-align:left;margin-bottom:28px;}
.main_visual .txt li .promo_desc dt, .main_visual .txt li .promo_desc dd{font-size:16px;font-family:'noto',Tahoma,sans-serif;color:#333;letter-spacing:-1px;font-style: normal;}
.main_visual .txt li .promo_desc dt{font-weight:600;letter-spacing:-2px;}
.main_visual .txt li .promo_desc dt p {display:block;margin-top:20px;margin-bottom:40px;font-size:50px;line-height:60px;}
.main_visual .txt li .promo_desc dt p strong{display: block;}
.main_visual .txt li .promo_desc dd{font-size:20px;}
.main_visual .txt li .slide_btn.link{display:block;width:130px;height:30px;line-height:28px;text-align:center;font-size:14px;color:#000;border:1px solid #6c7d84;}
.main_visual .txt li{opacity:0;filter:alpha(opacity=0);}
.main_visual .txt li.active{z-index:3;opacity:1;filter:alpha(opacity=100);}
.main_visual .txt li dl{margin-top:30px;margin-bottom:20px;}
.main_visual .txt li dl.v2{margin-top:45px;}
.main_visual .txt li dl dt{margin-bottom:15px;font-size:56px;color:#424622;font-family: 'Georgia', serif;font-style:italic;letter-spacing:0}
.main_visual .txt li dl dd{font-size:20px;color:#424622;}
.main_visual .txt li dl .more_btn{display:inline-block;width:130px;height:30px;line-height:30px;margin-top:20px;color:#424622;font-size:14px;border:1px solid #424622;text-align:center;}
.main_visual .txt.promo_content dl .more_btn{color:#222;border-color:#222;}


.main_visual .txt li dl dd em{display:block;font-weight:600;}
.main_visual .txt li.video_container{background:#000;}

.main_visual .txt .slide_btn{display:block;width:66px;height:84px;background:url(../img/btn/btn_view_prd.png);font-size:0;}
.main_visual .txt .slide_btn.story{position:absolute;left:50%;margin-left:-33px;bottom:121px;text-align:center;}

.main_visual .txt .slide_btn.pro{position:absolute;left:0;top:67%;}
.main_visual .txt .slide_btn.promo{border:1px solid #222;text-align:center;color:#222;line-height:28px;}

.main_visual h1{position:absolute;top:22px;z-index:2;left:50%;margin-left:-111px;}
.main_visual h1 a {display:block;}
.main_visual h1 a img{vertical-align:top}
.main_visual .scrolling{position:absolute;display:block;bottom:5px;margin-left:-33px;left:50%;z-index:2;width:65px;height:65px;background:url(../img/scroll_down.png);background-position-x:0;background-position-y:0; }
.main_visual .navi{position:absolute;z-index:5;top:50%;width:100%;margin-top:-26px;}
.main_visual .navi li a{display:block;width:114px;height:52px;color:#fff;line-height:52px;text-align:center;font-size:14px;font-weight:600;}
.main_visual .navi li a .arrow_brand{margin-right:10px;}
.main_visual .navi li a .arrow_shop{margin-left:10px;background-position:-15px 0}
.main_visual .navi .left_nav_brand{position:absolute;left:41px;}
.main_visual .navi .nav_shop{position:absolute;right:41px;}

.main_visual .btn_slide{position:absolute;z-index:3;bottom:70px;}
.main_visual .btn_slide a{background:url(../img/btn/btn_slide02.png) -20px 0;}
.main_visual .btn_slide ul .active a{background-position:0 0}
.main_visual .btn_slide .btn_play{margin-left:20px;background-position:-40px 0;}
.main_visual .btn_slide .btn_stop{display:inline-block;width:0;height:0;border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:10px solid #fff;margin-left:20px;vertical-align:top;}

.main_visual .btn_slide.story{display:none}
.main_visual .btn_slide.promo{display:none;}


/* news{s} */
.main_section {letter-spacing:-1px;padding-top:30px;}
.main_section .w_cont .news_area{/*overflow:hidden;*/height:488px;margin-bottom:80px;}
.main_section .w_cont .news_area li{float:left;width:50%;}
.main_section .w_cont .news_area li a{display:block;vertical-align:top}
.main_section .w_cont .news_area li a span{position:absolute;display:inline-block;width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:0 -200px}
.main_section .w_cont .news_area li a dl dt em{display:inline-block;padding:0 10px;height:20px;margin-bottom:10px;text-align:center;line-height:18px;font-size:12px;color:#719444;border:1px solid #719444;}
.main_section .w_cont .news_area li a dl dt strong{display:block;font-size:18px;color:#222;height:48px;overflow:hidden;margin-bottom:3px;}
.main_section .w_cont .news_area li a dl dd{height:35px;overflow:hidden}

/* 1 */
.main_section .w_cont .news_area li:first-child{position:relative;opacity:0;filter:alpha(opacity=0);transform:translateY(140px);transition: all .6s 0s linear;}
.main_section .w_cont .news_area li:first-child.active {opacity:1; filter:alpha(opacity=100); transform:translateY(0);transition: all .5s 0s linear;}
.main_section .w_cont .news_area li:first-child>a>img{width:518px;height:518px;overflow:hidden;opacity:1;filter:alpha(opacity=100);vertical-align:top}
.main_section .w_cont .news_area li:first-child>a>div{position:absolute;bottom:0;leftl:0;width:100%;height:124px;background:#000;opacity:0.5; filter:alpha(opacity=50);}
.main_section .w_cont .news_area li:first-child>a>dl{position:absolute;bottom:0;left:0;width:100%;height:124px;padding:15px 20px;}
.main_section .w_cont .news_area li:first-child>a>dl>dt>strong{display:block;color:#fff;height:25px;overflow:hidden;font-size:18px;}
.main_section .w_cont .news_area li:first-child>a>dl>dd{display:none;color:#cfd0d2;color:#cfd0d2;}
.main_section .w_cont .news_area li:first-child a:hover dl dd {display:block;}

/* 2 */
.main_section .w_cont .news_area .news_02{position:relative;width:518px;height:259px;transform:translateY(200px);transition: all .6s 0s linear;opacity:0;filter:alpha(opacity=0);}
.main_section .w_cont .news_area .news_02.active{opacity:1;filter:alpha(opacity=100);transform:translateY(0);transition: all .5s 0s linear;}
.main_section .w_cont .news_area .news_02 a img{width:259px;height:259px;overflow:hidden;float:left}
.main_section .w_cont .news_area .news_02 a dl{float:right;padding:33px 21px;width:259px;height:259px;background:#f7f7f7;}
.main_section .w_cont .news_area .news_02 a span{bottom:20px;left:275px}
.main_section .w_cont .news_area .news_02 a dl dd {display:none;}
.main_section .w_cont .news_area .news_02 a:hover dl dd {display:block;}
.main_section .w_cont .news_area .news_02 a dl:after{position:absolute;content:'';top:73px;left:248px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 11px solid #f7f7f7;}

/* 3 */
.main_section .w_cont .news_area .news_03{position:relative;width:518px;height:259px;transform:translateY(200px);transition: all .6s 0s linear;opacity:0;filter:alpha(opacity=0);}
.main_section .w_cont .news_area .news_03.active{transform:translateY(0);transition: all .5s 0s linear;opacity:1;filter:alpha(opacity=100);}
.main_section .w_cont .news_area .news_03 a img{width:259px;height:259px;overflow:hidden;float:right}
.main_section .w_cont .news_area .news_03 a span{bottom:20px;left:184px;}
.main_section .w_cont .news_area .news_03 a dl {position: relative;float:left;width:259px;height:259px;background:#f7f7f7;padding:57px 20px 0 20px;text-align:right;}
.main_section .w_cont .news_area .news_03 a dl dd {display:none;}
.main_section .w_cont .news_area .news_03 a:hover dl dd {display:block;}
.main_section .w_cont .news_area .news_03 dl:after{position:absolute;z-index:1;content:'';top:75px;left:258px;width:0;height:0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 11px solid #f7f7f7;}
/* news{e} */

/* ingredients_slide{s} */
.ingredients_slide{position:relative;text-align:center;margin-bottom:30px;opacity:0;filter:alpha(opacity=0);transform:translateY(100px);transition: all .6s 0s linear;}
.ingredients_slide.active{transform:translateY(0);transition: all .6s 0s linear;opacity:1;filter:alpha(opacity=100);}
.ingredients_slide h3{margin-bottom:12px;}
.ingredients_slide > dt{font-style:italic;font-size:16px;font-family: 'Georgia', serif;letter-spacing:0;color:#858585;}
.ingredients_slide > dt strong{color:#333;}
.ingredients_slide > dd {overflow:hidden;height:250px;position:relative; margin-top:10px; padding:0 43px 0}
.ingredients_slide > dd .slides {overflow:hidden;padding-top:20px;height:250px;}
.ingredients_slide > dd .slides li {position:relative;float:left; width:190px !important;padding:0 19px;transition: all .4s 0s linear;}
.ingredients_slide > dd .slides li a{display:block}
.ingredients_slide > dd .slides li a .img_box{width: auto;height:120px;overflow:hidden;vertical-align:middle;}
.ingredients_slide > dd .slides li a .img_box img {position:relative;top:50%;transform:translateY(-50%);width:auto;height:70%;}.ingredients_slide > dd .slides li.down{transform:translateY(30px);transition: all  .7s 0s linear;}
.ingredients_slide > dd .slides li.down.active{transform:translateY(0);transition: all  .7s 0s linear;}
.ingredients_slide > dd .slides li.up{transform:translateY(-30px);transition: all  .7s 0s linear;}
.ingredients_slide > dd .slides li.up.active{transform:translateY(0);transition: all  .7s 0s linear;}
.ingredients_slide > dd .slides li:first-child {margin-left:0}
.ingredients_slide > dd .slides li dl {padding-bottom:30px;}
.ingredients_slide > dd .slides li dl dt {display:block;font-size:13px;font-family: Georgia, Times, 'Times New Roman', serif;font-style:italic;color:#858585;letter-spacing:0}
.ingredients_slide > dd .slides li dl .sub_tit{display:block;color:#000;font-size:18px;font-weight:400;margin-top: 5px;}
.ingredients_slide > dd .slides li:hover dl .sub_tit{display:none;}
.ingredients_slide > dd .slides li dl .desc{display:none;margin-top:5px;color:#000;font-size:18px;font-weight:600;}
.ingredients_slide > dd .slides li:hover dl .desc{display:block;}
.ingredients_slide .direction-nav a {top:96px; width:20px; height:38px}
.ingredients_slide .direction-nav .prev {background-position:-348px -267px}
.ingredients_slide .direction-nav .next {background-position:-402px -267px}
/* ingredients_slide{e} */

/* beauty_celeb{s} */
.beauty_celeb{position:relative;padding:50px;width:100%;height:585px;background:#f1f3ee;letter-spacing:-1px;}
.beauty_celeb ul{/*overflow:hidden;*/height:491px;}
.beauty_celeb ul li a{display:inline-block;vertical-align:top;}
.beauty_celeb ul li dl{display:inline-block;vertical-align:top}
.beauty_celeb ul li dl dt em{display:block;margin-top:-2px;margin-bottom:16px;font-size:18px;color:#222;text-transform:uppercase;font-weight:800;}
.beauty_celeb ul li dl dd span>a{width:51px;height:8px;background:url(../img/btn/spr_btns.png) no-repeat;background-position:-100px -200px}
.beauty_celeb ul li dl dt em{margin-top:-2px;margin-bottom:16px;font-size:18px;color:#222;text-transform:uppercase;font-weight:800;}
.beauty_celeb ul li dl dd a{display:block;font-size:36px;color:#222;font-weight:300;}
.beauty_celeb ul li dl dd a em{display:block;font-size:18px;color:#666;font-weight:300;}

/* celeb01 */
.beauty_celeb ul .celeb01{float:left;opacity:0;filter:alpha(opacity=0);transform:translateY(80px);transition: all .6s 0s linear;}
.beauty_celeb ul .celeb01 a img{width:442px;height:285px;overflow:hidden;}
.beauty_celeb ul .celeb01 dl{padding-top:10px;margin-left:20px;text-align:left;}
.beauty_celeb ul .celeb01 dl dt{opacity:0;filter:alpha(opacity=0);transform:translateY(50px);transition: all .6s 0s linear;}
.beauty_celeb ul .celeb01 dl dd{opacity:0;filter:alpha(opacity=0);transform:translateY(100px);transition: all .6s 0s linear;}
.beauty_celeb ul .celeb01 dl dd span a{display:block;margin-top:25px;}
/* //celeb01 */

/* celeb02 */
.beauty_celeb ul .celeb02{position:relative;float:right;margin-top:-75px;text-align: right;transform:translateY(100px);transition: all .6s 0s linear;opacity:0;filter:alpha(opacity=0)}
.beauty_celeb ul .celeb02 a img{width:442px;height:275px;overflow:hidden}
.beauty_celeb ul .celeb02 dl{margin-right:20px;padding-top:100px;}
.beauty_celeb ul .celeb02 dl dt{opacity:0;filter:alpha(opacity=0);transform:translateY(50px);transition: all .6s 0s linear;}
.beauty_celeb ul .celeb02 dl dd{opacity:0;filter:alpha(opacity=0);transform:translateY(100px);transition: all .6s 0s linear;}
.beauty_celeb ul .celeb02 dl dd span a{display:inline-block;margin-top:25px;}
/* //celeb02 */

/* beauty_celeb{e} */


/* insta_area{s} */
.insta_area{padding:50px 0 78px 0;transition: all .6s 0s linear;opacity:0;filter:alpha(opacity=0)}
.insta_area ul{height:199px;}
.insta_area ul li{position:relative;overflow:hidden;float:left;width:199px;margin-left:10px;height:199px;background:black}
.insta_area ul li a img{width:100%;height:100%;}
.insta_area ul li div{opacity:0;filter:alpha(opacity=0);position:absolute;top:50%;left:50%;width:76px;height:62px;margin-top:-31px;margin-left:-38px;text-align:center;color:#fff;font-size:14px;font-style:italic;}
.insta_area ul li div span{display:block;margin:0 auto 10px auto;}
.insta_area ul .insta_box01{margin-left:0;transform:translateY(50px);transition: all .7s 0s linear;}
.insta_area ul .insta_box02{transform:translateY(-50px);transition: all .7s 0s linear;}
.insta_area ul .insta_box03{transform:translateY(50px);transition: all .7s 0s linear;}
.insta_area ul .insta_box04{transform:translateY(-50px);transition: all .7s 0s linear;}
.insta_area ul .insta_box05{transform:translateY(50px);transition: all .7s 0s linear;}

.insta_area ul .insta_box01.active, .insta_area ul .insta_box02.active, .insta_area ul .insta_box03.active, .insta_area ul .insta_box04.active, .insta_area ul .insta_box05.active{transform:translateY(0);}

.insta_area ul li a{display:block;}
.insta_area ul li a img{vertical-align:top;opacity:1;filter:alpha(opacity=100);}
.insta_area ul li:hover a img{opacity:0.5;filter:alpha(opacity=50);}
.insta_area ul li:hover a div{opacity:1;filter:alpha(opacity=100);}
/* insta_area{e} */


/* insta_popup{s} */
#main_instagram .pop_content .instagram{overflow:hidden;margin-bottom:40px;}
#main_instagram .pop_content .instagram li{float:left;}
#main_instagram .pop_content .instagram .insta_img{width:400px;height:400px;overflow:hidden;}
#main_instagram .pop_content .instagram .insta_img>img{width:100%;}
#main_instagram .pop_content .instagram .insta_txt{padding-left:30px;width:332px;height:400px;overflow-y:auto;}
#main_instagram .pop_content .instagram .insta_txt>dl>dt{padding-bottom:10px;border-bottom:1px solid #e9e9e9;font-size:16px;color:#70953e;font-weight:600;}
#main_instagram .pop_content .instagram .insta_txt>dl>dt>.insta_account{display:inline-block;margin-right:10px;vertical-align:middle;width:56px;height:56px;border-radius:50%;border:1px solid #ededed;background:url(../img/tmp/insta_account_img.png);}
#main_instagram .pop_content .instagram .insta_txt>dl>dd{padding-top:20px;font-size:14px;line-height:20px;}
#main_instagram .pop_content .instagram .insta_txt>dl>dd em{display:inline-block;color:#222;font-weight:600;}
#main_instagram .pop_content .instagram .insta_txt>dl>.hash_tag a{color:#386fa5;}

#main_instagram .pop_content .related_prod{border-top:1px solid #333;}
#main_instagram .pop_content .related_prod>dt{padding:15px 0;text-align:center;border-bottom:1px solid #e9e9e9;font-size:16px;color:#222;}
#main_instagram .pop_content .related_prod>dd{padding:10px 0 25px;border-bottom:1px solid #333;}
#main_instagram .pop_content .related_prod>dd>ul{overflow:hidden;}
#main_instagram .pop_content .related_prod>dd>ul li{display:block;float:left;width:25%;}
#main_instagram .pop_content .related_prod>dd>ul li>a{display:block;text-align:center;}
#main_instagram .pop_content .related_prod>dd>ul li>a>.img_box{width:150px;height:150px;margin:0 auto;}
#main_instagram .pop_content .related_prod>dd>ul li>a>dl{margin-top:20px;}
#main_instagram .pop_content .related_prod>dd>ul li>a>dl>dt{overflow:hidden;max-width:125px;margin:0 auto;height:35px;font-size:13px;}
#main_instagram .pop_content .related_prod>dd>ul li>a>dl>dd{margin-top:12px;font-size:16px;color:#222;font-weight:600;}

/* insta_popup{e} */


.br_sky > ul {display:none}




/* best_product{s} */
.best_product { margin: 60px 0 120px; }
.best_product .best_product_title { margin-bottom: 30px; text-align: center; }
.best_product .best_product_title{font-style:italic;font-size:16px;font-family: 'Georgia', serif;font-weight:normal;letter-spacing:0;color:#858585;}
.best_product .best_product_title strong{color:#333;}
.best_product .best_product_list {  }
.best_product .best_product_list {height:370px;position:relative;padding-bottom:70px;}
.best_product .best_product_list .product_list {overflow:hidden;height:305px;width: 1036px;}
.best_product .best_product_list .product_list > li {position:relative;float:left;width:259px !important;}
.best_product .best_product_list .direction-nav a {top:160px; width:20px; height:38px}
.best_product .best_product_list .direction-nav .prev {background-position:-348px -267px}
.best_product .best_product_list .direction-nav .next {background-position:-402px -267px}
.best_product .best_product_list .btn_slide{position:relative;z-index:3;bottom:0;margin-top:10px}
/* best_product{e} */