/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input:focus,button:focus,textarea:focus{outline:none;}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff;-webkit-text-size-adjust:none;word-break:break-all}
body,th,td,input,select,textarea,button{font-size:13px;font-family:"Nanum Barun Gothic", "Apple SD Gothic Neo", sans-serif, helvetica, arial;font-weight:400; color:#333}
a{color:#666;text-decoration:none}
a:active,a:hover{text-decoration:none;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
.clear{clear:both}
figure{line-height:0}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.blind{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
strong {font-weight:600}

/* Table */
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed}
.tble_type {border-top:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; line-height:18px;}
.tble_type th, .tble_type td {padding:12px 0 13px; padding-left:20px; border-top:1px solid #e9e9e9; text-align:center; font-size:14px}
.tble_type tr:first-child th, .tble_type tr:first-child td {border-top:0}
.tble_type th {font-weight:600; color:#222; background:#f8f8f8}
.tble_type td {}
.tble_type2 {border-top:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; line-height:18px;}
.tble_type2 th, .tble_type2 td {padding:12px 0 13px; border-left:1px solid #e9e9e9; text-align:center; font-size:14px}
.tble_type2 tr th:first-child, .tble_type2 tr td:first-child {border-left:0}
.tble_type2 thead th {font-weight:600; color:#222; background:#f8f8f8}
.tble_type2 tbody th {padding-left:20px; border-top:1px solid #e9e9e9; color:#222; font-weight:600; text-align:left; }
.tble_type2 tbody td {border-top:1px solid #e9e9e9}
.tble_type2 .priority{background:#f69999;font-weight:600;}